/* styles.css */
/* Default colors */
body {
    --text-color: #4c4c4c !important;
    --background-color: whitesmoke !important;
  }
  
  /* Dark theme colors */
  body.dark-theme {
    --text-color: whitesmoke !important;
    --background-color: DarkSlateGrey !important;
  }
  
  /* Styles for users who prefer dark mode at the OS level */
  @media (prefers-color-scheme: dark) {
    /* defaults to dark theme */
    body { 
      --text-color: #eee;
      --background-color: #121212;
    }
    /* Override dark mode with light mode styles if the user decides to swap */
    body.light-theme {
      --text-color: #222;
      --background-color: #fff;
    }
  }
  
  /* Apply the CSS variables to elements */
  body {
    color: var(--text-color);
    background-color: var(--background-color);
  }
  
  .enableEthereumButton {
    min-width: 150px;
    max-width: 150px;
  }

  .box {
    border: 1px solid #000; /* Add a 1px solid black border */
    height: 150px; /* Set the height to 200px (adjust as needed) */
  }