/* Default colors */
body {
    --text-color: #222 !important;
    --background-color: #fff !important;
  }
  
  /* Dark theme colors */
  body.dark-theme {
    --text-color: #eee !important;
    --background-color: #121212 !important;
  }
  
  /* Styles for users who prefer dark mode at the OS level */
  @media (prefers-color-scheme: dark) {
    /* defaults to dark theme */
    body { 
      --text-color: #eee;
      --background-color: #121212;
    }
    /* Override dark mode with light mode styles if the user decides to swap */
    body.light-theme {
      --text-color: #222;
      --background-color: #fff;
    }
  }
  
  /* Apply the CSS variables to elements */
  body {
    color: var(--text-color);
    background-color: var(--background-color);
  }
  